<div id="playerAddressModal">
      <div class="modal-body">
        <strong style="text-decoration: underline">Address</strong>
        <p style="margin: 0;"><span style="color:#b41b5d">Street One:</span> {{ address.street_address_one }}</p>
        <p style="margin: 0;"><span style="color:#9f640b">Street Two:</span> {{ address.street_address_two }}</p>
        <p style="margin: 0;"><span style="color:#a91e33">City:</span> {{ address.city }}</p>
        <p style="margin: 0;"><span style="color:#11c915">Country:</span> {{ address.country }}</p>
      </div>
</div>
